[
  {rabbit, [
     {tcp_listeners, [5672]},
     {ssl_listeners, [5671]},
     {ssl_options, [{cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
                    {certfile,"/etc/rabbitmq/ssl/cert.pem"},
                    {keyfile,"/etc/rabbitmq/ssl/key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false}]},
     {loopback_users,[]}
   ]},
   {rabbitmq_stomp, [{tcp_listeners, [61613]},
                     {ssl_listeners, [61614]}
   ]}
].
